*.div2 {
    background-color:rgba(233, 123, 255, 0.5) ; 
}
body {
    background-color: rgb(73, 172, 172);
}

.header,
.footer {
    background-color: rgb(33, 146, 33);

}

.content {
    background-color: rgb(139, 141, 32);
}

.img1 {
    width: 400px;
}

.h1g {
    font-size: 100px;
    color: black;
    padding-bottom: 30px;
}

.p2 {
    color: black;
}

img {
    height: 300px;
}